@page "{id}"
@model HotelManagementApp.Pages.Facturas.DetailsModel
@{
ViewData["Title"] = "Detalles de la Factura";
}

<h1>Detalles de la Factura - @Model.Factura.Id</h1>

<table class="table">
    <thead>
    <tr>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Costo Total</th>
        <th>Fecha</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Factura.Items)
    {
    <tr>
        <td>@item.Description</td>
        <td>@item.Quantity</td>
        <td>@item.UnitCost</td>
        <td>@item.TotalCost</td>
        <td>@item.When.ToString("g")</td>
    </tr>
    }
    </tbody>
</table>
<p>Total Factura: @Model.Factura.TotalAmmount</p>
